@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Poppins:wght@400;600;700&family=Playfair+Display:wght@400;600;700&family=Lobster&family=Dancing+Script:wght@400;600;700&display=swap');
@import "tailwindcss";

@layer base {
  :root {
    color-scheme: light dark;
  }

  html.dark body {
    background-color: #111827; /* gray-900 */
    color: #f3f4f6;            /* gray-100 */
  }

  html.dark #__nuxt,
  html.dark .nuxt-root,
  html.dark .app-root {
    background-color: #111827; /* gray-900 */
  }
}